/* -------------------------------------- basics */
.tab {
    height: auto;
    overflow: visible;
}

.tabs-h2-1 {
    display: flex;
    gap: 7px;
    align-items: center;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px  15px 15px 3px;
    background: linear-gradient(to bottom, #fcf8fc 0%, #fbecf8 50%, #f8e0f3 51%, #feeefb 100%);
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.tabs-h2-2 {
    display: flex;
    gap: 7px;
    align-items: center;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px  15px 15px 3px;
    background: linear-gradient(to bottom, #fcf8fc 0%, #fbecf8 50%, #f8e0f3 51%, #feeefb 100%);
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.tabs-h2-3 {
    display: flex;
    gap: 7px;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px  15px 15px 3px;
    background: linear-gradient(to bottom, #fcf8fc 0%, #fbecf8 50%, #f8e0f3 51%, #feeefb 100%);
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-items: center;
}

.tabs-h2-4 {
    display: flex;
    gap: 7px;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px  15px 15px 3px;
    background: linear-gradient(to bottom,  #fcf8fc 0%,#fbecf8 50%,#f8e0f3 51%, #feeefb 100%);
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-items: center;
}



/* -------------------------------------- index */
#index {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.index-flex-1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.index-text {
    text-align: justify;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.index-ul {
    display: flex;
    margin: 0;
    padding-left: 15px;
    flex-direction: column;
    gap: 3px;
}

.index-li {
    font-size: 12px;
    letter-spacing: 1.5px;
    padding-left: 5px;
}


.index-flex-2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* -------------------------------------- webrings */
.index-webrings {
    display: flex;
    min-width: 230px;
    max-width: 230px;
    height: 244px;
    overflow: auto;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.index-webrings a {
    text-decoration: none;
    letter-spacing: 1.5px;
}

.index-webrings a:hover {
    font-style: italic;
}

/* -------------------------------------- featured */


/* -------------------------------------- about */
.about-flex-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-flex-2 {
    display: flex;
    gap: 5px;
    flex-direction: row;
}


.about-info-1 {
    display: flex;
    width: -webkit-fill-available;
    height: 150px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    padding: 5px;
}

.about-info-2 {
    width: -webkit-fill-available;
}

.about-description {
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.about-buttons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    height: -webkit-fill-available;
    flex-direction: row-reverse;
}

.about-button {
    display: flex;
    width: -webkit-fill-available;
    border-radius: 3px;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background: #fff7e3;
    box-shadow: 2px 2px 2px inset white, -1px -1px 1px inset #af886c6e;
    text-shadow: none;
}

.about-button:hover {
    position: relative;
    top: 1.5px;
    box-shadow: -2px -2px 2px inset white, 1px 1px 1px inset #af886c6e;
}


.about-basics {
    display: flex;
    margin: 0;
    height: 150px;
    min-width: 225px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    align-items: flex-start;
    font-size: 13px;
}

.about-span {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

.about-li {
    letter-spacing: 1px;
    padding-left: 5px;
}

.about-text {
    font-size: 12px;
    letter-spacing: 1px;
    text-indent: 20px;
    text-align: justify;
}
